.hero {
    width: 100%;
    height: 200px;

    /* 🔥 imagen como fondo */
    background-image: url("../IMAGENES/motogp.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    inset: 0;

    background: rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay h1 {
    color: white;
    font-size: 70px;
    letter-spacing: 5px;
    text-shadow: 0 0 15px black;

    /* 🔴 fondo redondo */
    background: rgba(0, 0, 0, 0.6);
    padding: 20px 40px;
    border-radius: 999px;

    /* un poco de efecto */
    border: 2px solid white;
    font-family: 'Teko', sans-serif;
}
.hero {
    transition: transform 0.5s ease;
}

.hero:hover {
    transform: scale(1.05);
}
h2 {
    font-family: teko, sans-serif;
    font-size: 700%;
}
.menu {
    display: flex;
    justify-content: center;
    gap: 40px;

    background: #111;
    padding: 20px 0;

    border-top: 2px solid #d40000;
    border-bottom: 2px solid #d40000;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;

    position: relative;
    transition: 0.3s ease;
}

/* efecto hover tipo MotoGP */
.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;

    width: 0%;
    height: 2px;
    background: #d40000;

    transition: 0.3s ease;
}

.menu a:hover {
    color: #d40000;
}

.menu a:hover::after {
    width: 100%;
}
.piloto-card {
    background: #111;
    border: 2px solid #d40000;
    overflow: hidden;
    border-radius: 15px;
}

/* 🟡 parte izquierda */
.piloto-info {
    background: #0d0d0d;
}

/* nombre grande */
.piloto-nombre {
    font-family: 'Teko', sans-serif;
    font-size: 32px;
    margin-bottom: 10px;
    color: #fff;
}

/* stats */
.stats {
    font-size: 14px;
    color: #ccc;
}

/* 🔴 imagen derecha */
.piloto-img {
    background-image: url("/IMAGENES/bagnaia.png");
    background-size: cover;
    background-position: center;
    min-height: 100%;
}

/* efecto hover */
.piloto-card {
    transition: transform 0.3s ease;
}

.piloto-card:hover {
    transform: scale(1.02);
}